.sb_success {
  background-color: #33FF66;
  color: black;
}

.sb_error {
	background-color: #FF3333;
  color: white;
}

.sb {
  font-family: "Segoe UI",Arial,sans-serif;
  min-width: 250px;
  margin-left: -125px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
  box-shadow: 5px 5px 3px gray;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}