@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-pro/webfonts";
@import '~@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-pro/scss/brands.scss';
@import '~@fortawesome/fontawesome-pro/scss/solid.scss';

.scrollspy-example-2 {
    position: relative;
    height: 90vh;
    overflow: auto;
}